
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    header {
        background-image: url("bg-header.jpg");
        background-size: cover;
        background-position: center;
        height: 150px;
		padding: 20px;
    }

    h1 {
		text-align: left;
        color: green;
        font-family: Verdana, sans-serif;
		
		
    }

    p {
        padding: 20px;
        text-align: justify;
    }
	
	.blue-text {
    color: blue;
	}

    footer {
        background-image: url("bg-footer.jpg");
        background-size: cover;
        background-position: center;
        height: 100px;
    }
